{% extends 'appointement/base.html.twig' %}

{% block content %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Comment</th>
                <th>Date_begin</th>
                <th>Date_end</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointement in appointements %}
            <tr>
                <td>{{ appointement.id }}</td>
                <td>{{ appointement.title }}</td>
                <td>{{ appointement.comment }}</td>
                <td>{{ appointement.dateBegin ? appointement.dateBegin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appointement.dateEnd ? appointement.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('appointement_show', {'id': appointement.id}) }}">show</a>
                    <a href="{{ path('appointement_edit', {'id': appointement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('appointement_new') }}">Create new</a>
{% endblock %}
